{% extends 'store/_Master.html' %}
{% block title_tab %}{{ product.name }}{% endblock %}
{% load static %}
{% load humanize %}

{% block content %}
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'store:index' %}">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'store:product_list' subcategoryid %}">{{ subcategoryname }}</a></li>
                    <li class="breadcrumb-item active">{{ product.name }}</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Product Detail Start -->
        <div class="product-detail">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="product-detail-top">
                            <div class="row align-items-center">
                                <div class="col-md-5">
                                    <div class="product-slider-single normal-slider">
                                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </div>

                                </div>
                                <div class="col-md-7">
                                    <div class="product-content">
                                        <div class="title"><h2>{{ product.name }}</h2></div>
                                        <form method="post" action="{% url 'cart:buy_now' product.pk %}">
                                            {% csrf_token %}
                                            <div class="price">
                                                <h4>Giá:</h4>
                                                <p>{{ product.price|floatformat:0|intcomma }} <span>{{ product.price_origin|floatformat:0|intcomma }}</span></p>
                                            </div>
                                            <div class="quantity">
                                                <h4>Số lượng:</h4>
                                                <div class="qty">
                                                    <button class="btn-minus" type="button"><i class="fa fa-minus"></i></button>
                                                    <input type="text" name="quantity" value="1">
                                                    <button class="btn-plus" type="button" name="btnUpdateCart"><i class="fa fa-plus"></i></button>
                                                </div>
                                            </div>

                                            <div class="action">
                                                <a class="btn" type="submit"><i class="fa fa-shopping-cart"></i>Mua ngay</a>
                                                {% comment %}<a class="btn" href="#"><i class="fa fa-shopping-bag"></i>Mua</a>{% endcomment %}
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row product-detail-bottom">
                            <div class="col-lg-12">
                                <ul class="nav nav-pills nav-justified">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="pill" href="#description">Mô tả sản phẩm</a>
                                    </li>

                                </ul>

                                <div class="tab-content">
                                    <div id="description" class="container tab-pane active">
                                        <p>
                                            {{ product.content|safe }}
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        
                        <div class="product">
                            <div class="section-header">
                                <h1>Sản phẩm liên quan</h1>
                            </div>

                            <div class="row align-items-center product-slider product-slider-3">

                                {% for product in related_products %}
                                    <div class="col-lg-3">
                                        <div class="product-item">
                                            <div class="product-title">
                                                <a href="{% url 'store:product_detail' product.pk %}">{{ product.name }}</a>

                                            </div>
                                            <div class="product-image">
                                                <a href="{% url 'store:product_detail' product.pk %}">
                                                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                                </a>

                                            </div>
                                            <div class="product-price">
                                                <h3>{{ product.price|floatformat:0|intcomma }}<span>đ</span></h3>
                                                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                    
                    <!-- Side Bar Start -->
                    <div class="col-lg-3 sidebar">
                        {% include 'store/parts/subcategory_list.html' %}
                        
                        <div class="sidebar-widget widget-slider">
                            <div class="sidebar-slider normal-slider">

                                {% for product in related_products %}
                                    <div class="product-item">
                                        <div class="product-title">
                                            <a href="{% url 'store:product_detail' product.pk %}">{{ product.name }}</a>
                                        </div>
                                        <div class="product-image">
                                            <a href="{% url 'store:product_detail' product.pk %}">
                                                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                            </a>

                                        </div>
                                        <div class="product-price">
                                            <form method="post" action="{% url 'cart:buy_now' product.pk %}">
                                                {% csrf_token %}
                                                <div class="product-price">
                                                    <h3>{{ product.price|floatformat:0|intcomma }}<span>đ</span></h3>
                                                    <input type="hidden" name="quantity" value="1">
                                                    <button class="btn text-right" type="submit">
                                                        <i class="fa fa-shopping-cart"></i> Mua ngay
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>

                    </div>
                    <!-- Side Bar End -->
                </div>
            </div>
        </div>
        <!-- Product Detail End -->
        
        <!-- Brand Start -->
        {% include 'store/parts/brands.html' %}
        <!-- Brand End -->
        
{% endblock %}